@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrInRange {
  background-color: #31859c !important;
}
.rdrStartEdge, .rdrEndEdge {
  background-color: #31859c !important;
}
.css-1igvx5z-timeSelected-time-TopBar, .css-rt16tf-timeSelected-time {
  color: #398aa0 !important;
}
/* .rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
} */

::-webkit-scrollbar {
  width: 2px;
}

/* TRACK */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.23);
}

/* HANDLE */
::-webkit-scrollbar-thumb {
  background: #31859C;
  /* height: 80px; */
}

/* Both Vertical and Horizontal Scrollbars */
::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
  height: 2px; /* Height of the scrollbar for the horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.23); /* Track color */
}

/* Handle for Vertical Scrollbar */
::-webkit-scrollbar-thumb {
  background: #31859C; /* Thumb color for vertical scrollbar */
}

/* Handle for Horizontal Scrollbar */
::-webkit-scrollbar-thumb:horizontal {
  background: #31859C; /* Thumb color for horizontal scrollbar */
}

/* Corners */
::-webkit-scrollbar-corner {
  background: transparent; /* Color of the scrollbar corners */
}


/* button[id^="datepicker-toggle"] {
  width: 100%;
  height: 100%;
  justify-content: end;
  left: 47%;
}

button[id^="timepicker-toggle"] {
  height: 100%;
  position: absolute;
  width: 100%;
  right: -47%;
  display: flex;
  justify-content: end;
  align-items: center;
}

svg[fill="none"][viewBox="0 0 24 24"][stroke-width="1.5"][stroke="currentColor"] {
  width: 16px;
  height: 16px;
} */
